<div class="form-input">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Category Name'%>
</div>
<div class="form-input">
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: 'Category Description' %>
</div>
