<h1> Categories </h1>

<div>
    <ul></ul>
        <% @categories.each do |category| %>
            <li><%= link_to category.name, category %>
            <p><%= category.description %></li>
        <% end %>
    </ul>
</div>