<div class="form-input">
    <%= f.label :category_id %>
    <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name, selected = f.object.category_id), prompt: "Select category" %>
</div>
<hr>
<h4>Or create a new category:</h4>
<%= f.fields_for :category do |category_fields| %>
    <%= render partial: "categories/form", locals: {f: category_fields} %>
<% end %>