<h1>New Product</h1>

<%= form_with model: @product, url: category_products_path(@category_id) do |f|%>
    <fieldset>
        <%= render partial: 'product_new', locals: {form: f} %>
        <%= f.collection_select :category_id, Category.order(:id), :id, :name, {selected: @category_id} %>
      </fieldset>

<% end %>

