<h1>Create a New Product</h1>

<%= form_with model: @product do |f|%>
    <fieldset>
        <%= render partial: 'form', locals: {form: f} %>
    </fieldset>
    <%= f.submit 'Create product' %>
<% end %>

